extends layout


block content
    each post in Posts
        div.post
            h3.post-title
                = post.title
            div.post-abstract
                = post.content



block scripts  
  script $(document).ready(function(){console.log('dom ready');});